/* *{
  margin: 0;
} */

/* font styles */

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.raleway-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* shared styles */
.secondary-bg{
    background-color: #f5f8ff;
}

.dark-1 {
  color: #000000;
}
.dark-2 {
  color: #252432;
}
.dark-3 {
  color: rgba(37, 36, 50, 0.500);
}

.btn-primary {
  background-color: #4E47FF;
  color: #FFFFFF;
  padding: 12px 36px;
  font-weight: bold;
  font-size: 16px;
  border-radius: 10px;
  border: none;
}

.btn-primary:hover {
  background-color: #3A36D8;
  cursor: pointer;
}

/* header styles */

.header {
  background-image: url("/Assets/Hero-bg.png");
  background-repeat: no-repeat;
  /* width: 1440px; */
  /* height: 698px; */
  background-size: cover;
  height: 100vh;
}

/* nav styles*/

nav {
  display: flex;
  align-items:center;
  justify-content: space-between;
  margin: 0px 150px 158px 150px;
  /* padding: 50px 0px 50px 0px; */
}

nav .logo {
  /* font-weight: Black; */
  font-weight: bold;
  font-size: 34px;
  color: #4E47FF;
}

/* banner styles */

.banner {
  font-weight: bold;
  font-size: 65px;
  /* align-items: center;
  justify-content: center; */
  text-align: center;
}

.banner-tagline {
  margin: 158px 267.5px 37px 267.5px;
}

.banner-btn {
  margin-bottom: 152px;
}

/* action styles */

.action {
  display: flex;
  gap: auto;
  margin: 116px 159px 116px 141px;
  align-items: center;
  justify-content: space-between; 
}

.action-content{
  margin: 62.5px 623px 62.5px 0px;
  align-items: center;
  justify-content: center;
}

.action-title{
  font-weight: bold;
  font-size: 42px;
  margin-bottom: 23px;
}

.action-description {
  font-weight: normal;
  font-size: 24px;
  margin-bottom: 23px;
}

.action-image {
  width: 403px;
  height: 328px;
  border-radius: 48px;
  /* margin-right: 159px; */
}